/* Add here all your CSS customizations */

.logo-custom {
    position: relative;
}



@include respond-above(md) {
    .container--lg {
        max-width: 1200px!important;
    }
}


.btn-grey {
    color: #444;
    background-color: #ecedef;
    border-color: #ecedef;
    &:hover {
        background: #98999C;
        border-color: #98999C;
    }
}